<div class="mt-3" id="abilities">
  <div class="d-flex justify-content-between">
    <h2>Abilities</h2>
  </div>
  <% @abilities.each do |ability| %>
    <%= render ability %>
    <p>
      <%= link_to "Show this ability", ability %>
    </p>
  <% end %>
</div>
<%= paginate @abilities %>