<div class="mt-3" id="about">
  <h2>About the Pokédex</h2>
  <p>This project is meant to serve as a bare-bones Pokédex for users to learn about about the various Pokémon and their types, moves, and abilites accross the various titles.</p>
  <p>The data source used for this project is the popular public RESTful Pokémon API, <a href="https://pokeapi.co/" target="_blank" class="link-danger">PokéAPI</a>.</p>
  <p>The API contains a ton of information about the Pokémon games including
    Pokémon, Moves, Machines, Locations, Items, Games, Evolutions, Encounters, Contests, Berries and more.
    This project makes use of the Pokemon, Moves, Types, and Abilities endpoints to collect all the necessary data.</p>
  <p>See ERD below for database schema.</p>
  <%= image_tag("ERD.png", alt: "Pokedex database ERD", class: "d-block m-auto my-5") %>
</div>